@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

:root {
	--aside-bg-color: #292f36;
	--body-bg-color: #e8f1f2;
	--dt-color: #4ecdc4;
	--ft-color: #e8f1f2;
	--ft-dark-color: #555b6e;
}

* {
	font-family: "Roboto Slab", serif;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;

	display: flex;
	flex-direction: row;
	background-color: var(--body-bg-color);
}

aside {
	background-color: var(--aside-bg-color);
	color: var(--ft-color);

	width: 15%;
	min-width: fit-content;
	max-width: 300px;
	height: 100%;
	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

main {
	padding: 25px;
	width: 600px;
	min-width: fit-content;
}

a {
	color: var(--ft-color);
	text-decoration: none;
}
