@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

* {
	font-family: "Roboto Slab", serif;
}

html,
body {
	height: -webkit-fill-available;
	width: -webkit-fill-available;
	margin: 0;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: var(--bs-dark-border-subtle);
}

aside {
	background-color: var(--bs-dark-bg-subtle);
	color: var(--bs-light);
	display: flex;

	padding: 25px;

	justify-content: flex-start;
	align-items: center;
}

nav {
	background-color: var(--bs-dark-bg-subtle);
	justify-content: start !important;
	padding: 10px;
}

nav.navbar {
	padding: 10px;
}


aside > ul {
	width: 85%;
}

main {
	width: -webkit-fill-available;
	overflow-y: auto;
}

main > .content {
	padding: 25px;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

h3 {
	margin-bottom: 0;
}

.flashes {
	padding: 10px;
	width: fit-content;
}

.flashes > * {
	margin: 0;
	margin-bottom: 20px;
}

@media (max-width: 991.97px) {
	aside {
		min-width: 100%;
	}
}

@media (min-width: 991.98px) {
	aside {
		min-width: 250px;
	}
}
