@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

* {
	font-family: "Roboto Slab", serif;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;

	display: flex;
	flex-direction: row;
	background-color: var(--bs-dark-border-subtle);
}

aside {
	background-color: var(--bs-dark-bg-subtle);
	color: var(--bs-light);

	padding: 25px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

aside > ul {
	width: 85%;
}

main {
	padding: 25px;
}

a {
	text-decoration: none;
}
