{% extends "base.html" %}
{% block content %}

<form action="/carro" method="post">
    <fieldset>
        <legend>Cadastre um carro: </legend>

        <div class="mb-3">
            <label for="modelo" class="form-label">Modelo </label>
            <input maxlength="80" type="modelo" class="form-control" id="modelo" name="modelo" required>
        </div>

        <div class="mb-3">
            <label for="placa" class="form-label">Placa </label>
            <input maxlength="8" type="text" class="form-control" id="placa" name="placa" required>
        </div>

        <div class="buttons">
            <button type="submit" class="btn btn-primary">Cadastrar o carro</button>
        </div>
    </fieldset>
</form>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Modelo</th>
            <th scope="col">Placa</th>
        </tr>
    </thead>
    <tbody>
        {% for carro in carros %}
        <tr>
            <td> {{ carro.modelo }} </td>
            <td> {{ carro.placa }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<link rel="stylesheet" href="static/css/aluguel.css">
<script src="static/js/aluguel.js"></script>

{% endblock %}