{% extends "base.html" %}
{% block content %}

<form action="/carro" method="get">
    <h5>Consulte os carros: </h5>

    <div class="row g-3">
        <div class="col-md-2">
            <label for="modelo" class="form-label">Modelo </label>
            <input maxlength="80" type="text" class="form-control" id="modelo" name="modelo"
                value="{{ request.args.get('modelo') or '' }}">
        </div>
        <div class="col-md-2">
            <label for="marca" class="form-label">Marca </label>
            <input maxlength="80" type="text" class="form-control" id="marca"
                value="{{ request.args.get('marca') or '' }}" name="marca">
        </div>
        <div class="col-md-2">
            <label for="placa" class="form-label">Placa </label>
            <input maxlength="8" type="text" class="form-control" id="placa" value="{{ request.args.get('placa') or '' }}"
                name="placa">
        </div>
        <div class="col-md-2">
            <label for="capacidade_pessoas" class="form-label">Capacidade </label>
            <input maxlength="80" type="number" min="1" step="1" class="form-control" id="capacidade_pessoas"
                value="{{ request.args.get('capacidade_pessoas') or '' }}" name="capacidade_pessoas">
        </div>
        <div class="col-md-4">
            <label for="quantidade_alugueis" class="form-label">Quantidade de alugueis </label>
            <input maxlength="80" type="number" min="1" step="1" class="form-control" id="quantidade_alugueis"
                value="{{ request.args.get('quantidade_alugueis') or '' }}" name="quantidade_alugueis">
        </div>
        <div class="col-md-4">
            <label for="data_de_insercao" class="form-label">Data de cadastro </label>
            <input maxlength="80" type="date" class="form-control" id="data_de_insercao"
                value="{{ request.args.get('data_de_insercao') or '' }}" name="data_de_insercao">
        </div>
        <div class="col-md-8">
            <label for="descricao" class="form-label">Descrição </label>
            <input type="text" class="form-control" id="descricao" value="{{ request.args.get('descricao') or '' }}"
                name="descricao">
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_carro">
        Cadastrar novo carro
    </button>
</form>
<br>
<table class="table" id="table" data-toggle="table" data-search="true" data-filter-control="true"
    data-toolbar="#toolbar" class="table-responsive">
    <thead>
        <tr>
            <th scope="col">Modelo</th>
            <th scope="col">Marca</th>
            <th scope="col">Placa</th>
            <th scope="col">Custo diário</th>
            <th scope="col">Capacidade</th>
            <th scope="col">Qtd. Alugueis</th>
            <th scope="col">Data de cadastro</th>
            <th scope="col">Descrição</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for carro in carros %}
        <tr>
            <td> {{ carro.modelo }} </td>
            <td> {{ carro.marca }} </td>
            <td> {{ carro.placa }} </td>
            <td> {{ carro.custo_diario }} </td>
            <td> {{ carro.capacidade_pessoas }} </td>
            <td> {{ carro.quantidade_alugueis }} </td>
            <td> {{ carro.data_de_insercao.strftime('%m/%d/%Y') }} </td>
            <td> {{ carro.descricao }} </td>
            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_carro"
                    data-bs-is-edicao="true" data-bs-id="{{ carro.id }}" data-bs-modelo="{{ carro.modelo }}"
                    data-bs-placa="{{ carro.placa }}" data-bs-descricao="{{ carro.descricao }}"
                    data-bs-descricao_imagem="{{ carro.descricao_imagem }}" data-bs-url_imagem="{{ carro.url_imagem }}"
                    data-bs-custo_diario="{{ carro.custo_diario }}"
                    data-bs-capacidade_pessoas="{{ carro.capacidade_pessoas }}"
                    data-bs-marca="{{ carro.marca }}">Editar</button>
            </td>
            <td> <button type="button" class="btn btn-danger"
                    onclick="red('/carro/del/{{ carro.id }}');">Deletar</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="modal_carro" tabindex="-1">
    <form action="/carro" method="post">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastre um carro: </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body row g-3">

                    <input type="hidden" name="id">

                    <div class="col-md-4">
                        <label for="modelo" class="form-label">Modelo </label>
                        <input maxlength="80" type="text" class="form-control" id="modelo" name="modelo" required>
                    </div>

                    <div class="col-md-4">
                        <label for="marca" class="form-label">Marca </label>
                        <input maxlength="80" type="text" class="form-control" id="marca" name="marca" required>
                    </div>

                    <div class="col-md-4">
                        <label for="placa" class="form-label">Placa </label>
                        <input maxlength="8" type="text" class="form-control" id="placa" name="placa" required>
                    </div>

                    <div class="col-md-4">
                        <label for="descricao" class="form-label">Descrição </label>
                        <input type="text" class="form-control" id="descricao" name="descricao" required>
                    </div>

                    <div class="col-md-4">
                        <label for="descricao_imagem" class="form-label">Descrição da imagem </label>
                        <input type="text" class="form-control" id="descricao_imagem" name="descricao_imagem" required>
                    </div>

                    <div class="col-md-4">
                        <label for="capacidade_pessoas" class="form-label">Capacidade de pessoas </label>
                        <input type="number" min="1" step="1" class="form-control" id="capacidade_pessoas"
                            name="capacidade_pessoas" required>
                    </div>

                    <div class="col-md-4">
                        <label for="custo_diario" class="form-label">Custo por dia </label>
                        <input type="number" class="form-control" id="custo_diario" name="custo_diario" required>
                    </div>

                    <div class="col-md-8">
                        <label for="url_imagem" class="form-label">Endereço para a imagem </label>
                        <input type="text" class="form-control" id="url_imagem" name="url_imagem" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<link rel="stylesheet" href="static/css/carro.css">
<script src="static/js/carro.js"></script>

{% endblock %}