{% extends "base.html" %}
{% block content %}

<form action="/login" method="POST">
    <h5>Faça login ou cadastre-se!</h5>

    <div class="row g-3">
        <div class="col-md-2">
            <label for="email" class="form-label">Email: </label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="col-md-2">
            <label for="pswd" class="form-label">Senha: </label>
            <input type="password" class="form-control" id="pswd" name="pswd" required>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Logar</button>
    <button onclick="red('/cadastro')" type="button" class="btn btn-success">Se
        cadastrar</button>
</form>
</form>

<link rel="stylesheet" href="static/css/login.css">
<script src="static/js/login.js" defer></script>

{% endblock %}